// fonts
$regularFont: 400;

//btn
$radSmall: 4px; // used on feature buttons
$radNormal: 8px; //used on subscribe buttons
$radBig: 12px; //used on feautre items

//colors
$blue: #195E8E; //used for headers and titles
$yellow: #FFC342; // used for buttons and lines
$black: rgb(29, 29, 29); // used for fonts

//fontsizes mobile
$moHeader: 1.8em;
$moTitle: 1.5em;
$moSubtitle: 1.2em;
$moNormal: 1em;

//fontsizes desktop
$header: 3em;
$title: 2.2em;
$subtitle: 1.5em;
$normal: 1em;

// screen sizes
$mobile: 360px;
$tablet: 768px;
$horizontal: 980px;
$laptop: 1200px;