// fonts
$regularFont: 400;

//btn
$radSmall: 4px; // used on feature buttons
$radNormal: 8px; //used on subscribe buttons
$radBig: 12px; //used on feautre items

//colors
$blue: #195E8E; //used for headers and titles
$yellow: #FFC342; // used for buttons and lines
$black: rgb(29, 29, 29); // used for fonts
$beige: #eeeae6; // app background

//fontsizes mobile
$moHeader: 2.8em;
$moTitle: 2.3em;
$moSubtitle: 1em;
$moNormal: 1em;

//fontsizes desktop
$header: 2.7em;
$title: 2em;
$subtitle: 1em;
$normal: 1.3em;

// screen sizes
$mobile: 360px;
$tablet: 768px;
$horizontal: 980px;
$laptop: 1200px;