//theme
@import 'normalise';
@import 'variables';

// components
@import 'components/fontstyles';
@import 'components/buttons';
@import 'components/backgrounds';

// partials
@import 'partials/navigation';
@import 'partials/header';
@import 'partials/about';
@import 'partials/features';


body{
    overflow-x: hidden;
}
section{
    padding: 2em 0;
    max-width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}
header .container{
    width: initial;
    height: initial;
}
.main{
    width: 100%;
    height: 100%;
}
.textbox{
    max-width: 350px;
}
.stores{
    min-width: 200px;
}
.deco{
    min-height: 50vh;
}
.hidden{
    visibility: hidden;
    height: 0;
    opacity: 0;
}
@media (min-width: $mobile ) {
    section{
        flex-direction: row;
        justify-content: center;
    }
    .container{
        margin: 0 3em;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
    }
   
    .bgLeft .container{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width: $horizontal ) {
    .container{
        margin: 0 5%;
        flex-direction: row;
        justify-content: space-between;
    }
    .bgLeft .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header .container{
        display: block;
    }
    .main{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .textbox{
        box-sizing: border-box;
        display: inline-block;
        align-self: flex-start;
    }
    .deco, .imgContainer{
        box-sizing: border-box;
        width: 50vw;
        align-self: center;
    }
}
@media (min-width: $laptop ) {
    .container{
        margin: 0 10%;
    }
    .textbox{
        margin-right: 10%;
    }
}