.bgLeft{
    background-image: url(../images/texture2.svg);
    background-repeat: no-repeat;
    background-position:bottom left;
}
.bgRight{
    background-image: url(../images/texture1.svg);
    background-repeat: no-repeat;
    background-position:bottom right;
}
.deco{
    max-width: 500px;

}
.appstore{
    background-image: url(../images/appstore.svg);
    background-repeat: no-repeat;
    background-position:bottom right;

}