@font-face {
    font-family: spartan;
    src: url(../../fonts/LeagueSpartan-Bold.otf);
}
body{

    font-size: $moNormal;
    color: $black;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: $moHeader;
    color: $blue;
    font-family: 'spartan', sans-serif;

}
h2{
    font-size: $moTitle;
    color: $blue;
    font-family: 'spartan', sans-serif;
}
.button{
    //for button
    font-size: $moSubtitle;
    color: $blue;
    font-family: 'spartan', sans-serif;
    text-decoration: none;
    font-weight: 600
}

@media (min-width: $horizontal ) {
    body{
        font-size: $normal;
    }
    h1{
        font-size: $header;
    }
    h2{
        font-size: $title;
    }
    h3{
        font-size: $subtitle;
    }
    
}