.header-detective{
    height: 20vh;
}

.face{
    width: 15vh;
    height: 15vh;
}

.sender-name{
    display: inline-block;
    font-size: $subtitle;
}

.message-box{
    height: 70vh;
}

.message-balk{
    height: 10vh;
}

.send-message{
    display: inline-block;
    border: 1px solid black;
    border-radius: 25%;
    background-color: #fff;
    width: 75vw;
}

.btn-send{
    display: inline-block;
    border: 2px solid black;
    background-color: grey;
    width: 10vw;
    margin-left: 2vw;
}







